html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
}

.chatInner {
    max-width: 70vw;
    word-wrap: break-word;
    text-decoration-color: darkblue;
    background-color: darkseagreen;
    border-radius: 4px;
    width: max-content;
}

.Container {
    background-color: darkseagreen;
    margin: 5px;
    width: max-content;
    border: solid darkgreen 1px;
    border-radius: 4px;

}

.NumberRound {
    float: right;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 3px;

    background: #76a800;
    border: 2px solid #006e14;
    text-align: center;

    font: 12px Arial, sans-serif;
}

.NumberRoundInvisible {
    visibility: hidden;
}

.LastMessage {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #ffbebe;
}

.Paragraph {
    margin-left: 2px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: max-content;
}

.Messages {
    display: none;
    overflow: auto;
    background-color: antiquewhite;
    height: 95%;
    width: 100%;
    float: bottom;
}

.MessagesAppear {
    display: inline-block;
}

.TITLE {
    display: block;
    width: 100%;
    height: 4%;
    background-color: #ff6f00;
    text-align: center;
}

.Area {
    height: 90%;
    width: 100%;
    display: inline-block;
    float: right;
    border: solid #ff6f00;
    border-radius: 5px;
}

.Send-Box {
    margin-top: 2px;
    alignment: bottom;
    position: relative;
    float: right;
    width: 100%;
}

.AreaSend {
    float: right;
    width: 80%;
    height: 100%;
}
.Input {
    background-color: azure;
    border: solid darkblue;
    border-radius: 4px;
    width: 95%;
    outline: none;
}


.leftTest {
    text-align: center;
    display: inline-block;
    background-color: blueviolet;
    width: 100%;
    height: 4%;
}

.UserName {
    display: block;
    background-color: darkgreen;
    width: 100%;
}

.Rooms {
    background-color: darkseagreen;
    border: darkgreen solid;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
    margin: 3px;
    border-radius: 3px;
}

.RoomsSelected {
    background-color: bisque;
}

.joinButton {
    background-color: mistyrose;
    border-radius: 9px;
    border: solid darkred;
    text-align: center;
    width: 19%;
    margin-left: 2px;
    margin-top: 2px;
}

.IncludedRooms {
    margin: 2px;
    display: block;
    height: max-content;
    background-color: antiquewhite;
    border: darkblue solid;
    border-radius: 4px;
}

.IncludedRoomsSelected {
    background-color: #ff6f00;
}

.IncludedRoomsHeader {
    display: block;
    height: 19px;
}

.LeftRooms {
    width: 100%;
    height: 91%;
    float: bottom;
}

.RoomData {
    float: left;
    width: 19%;
    height: 90%;
    background-color: #deedff;
    border: blueviolet solid;
    border-radius: 5px;
}

.ListOfRooms {
    float: left;
    background-color: beige;
    width: 40%;
    height: 100%;
    overflow: auto;
}

.CurrRooms {
    overflow: auto;
    height: 75%;
    width: 100%;

}

.CreateSection {
    height: 100%;
    width: 100%;
    background-color: azure;
}

.InputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PasswordSection {
    margin-top: 3px;
    border-radius: 3px;
    border: solid 1px;
}

.PasswordSectionPublic {
    border-color: black;
    background-color: green;
}

.PasswordSectionPrivate {
    border-color: black;
    background-color: orangered;
}

.TextResult {
    background-color: darkkhaki;
    text-align: center;
    width: max-content;
    margin: 3px auto;
}

.TextInvisible {
    visibility: hidden;
}

.blurry {
    animation: Blurr 700ms;
    filter: blur(5px);
}

.Clearry {
    animation: ClearIt 700ms;
}

@keyframes Blurr {
    to {filter: blur(5px)}
}

@keyframes ClearIt {
    from {filter: blur(5px)}
    to {filter: blur(0px)}
}

.disableClicks {
    pointer-events: none;
}

.Room-Info {
    display: none;
    position: absolute;
    width: 40%;
    height: 80%;
    left: 30%;
    top: 10%;
    background-color: mistyrose;
    border: dot-dash #ff005a 2px;
    border-radius: 4px;
}

.Room-Members {
    background-color: aliceblue;
    width: 80%;
    height: 60%;
    overflow: auto;
    margin: 0 auto;
}

.ServerMessage {
    margin: 5px auto;
    background-color: goldenrod;
}

.Target-Management {
    display: none;
    position: absolute;
    background-color: #ffedf1;
    border: dotted crimson 3px;
    border-radius: 5px;
    left: 25%;
    top: 5%;
    width: 50%;
    height: 90%;
}

.SelectionPanel {
    display: none;
    position: absolute;
    background-color: #006e14;
    border: solid crimson 3px;
    border-radius: 5px;
    left: 25%;
    top: 5%;
    width: 50%;
    height: 90%;
}

.PopUpShow {
    display: block;
    animation: comeUp 700ms;
}

.PopUpAnime {
    display: block;
    animation: goDown 700ms;
}

@keyframes comeUp {
    from {top: -80%}
}

@keyframes goDown {
    to {top: -120%}
}

.ReplyHeader {
    background-color: green;
    border-radius: 10px 10px 0px 0px;
}

.ContextMenuTheme {
    display: none;
    position: absolute;
    width: 10vw;
    border: solid dimgrey 2px;
    border-radius: 3px;
    z-index: 1000000000;
    transform-origin: top left;
    transform: scale(0);
}

.ContextMenuItems {
    background-color: darkgrey;
    text-align: center;
    border: solid black 1px;
}

.ContextMenuItemsHover {
    background-color: dimgrey;
}

.ContextMenuShow {
    display: block;
    transform: scale(1);
    animation: Context 250ms;
}

@keyframes Context {
    from {transform: scale(0); z-index: 100000}
    to {transform: scale(1); z-index: 1000000}
}

.ReplyOnSend {
    display: none;
    position:absolute;
    width: 95.7%;
    height: max-content;
    max-height: 25vh;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ceff68;
    bottom: 100%;
    border-radius: 10px 10px 5px 5px;
}

.ReplyOnSendVisible {
    display: block;
}

.ReplyText {
    text-decoration-color: black;
    text-align: center;
    overflow: hidden;
    max-width: inherit;
    white-space: nowrap ;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.ReplyINNER {
    display: flex;
    max-width: 70vw;
    justify-content: center;
    background-color: orangered;
    border: solid red 2px;
}

.TIME {
    margin-top: -2px;
    text-align: right;
    font-size: x-small;
    text-decoration-color: black;
}

.PSTYLE {
    display: inline;
    width: max-content;
    background-color: orange;
    border: dot-dash crimson 2px;
    border-radius: 2px;
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Members {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border: solid #007bff 1px;
    margin: 3px;
    border-radius: 3px;
}

.Server-Config {
    background-color: goldenrod;
}

.TargetSelected {
    background-color: #6facf5;
}

@keyframes ColorAttention {
    from {background-color: #ff005a}
}

.Attention {
    animation-name: ColorAttention;
    animation-duration: 2s;
}