<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="ProfName"></title>
</head>
<body onload="getData()">
    <script>
        function getData() {
            let xhttp = new XMLHttpRequest()
            xhttp.open('POST',"")
            xhttp.onreadystatechange= function () {
                let spl= this.response.toString().split('&')
                document.getElementById('Username').innerHTML=spl[0]
                document.getElementById('Name').innerHTML=spl[1]
            }
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            xhttp.send()
        }
    </script>
    <div id="UserData">
        <p id="Username"></p>
        <br>
        <p id="Name"></p>
    </div>
</body>
</html>