<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styling.css">
    <meta charset="UTF-8">
    <title>Room Management</title>
</head>
<body onload="GetData()" style="display: flex;justify-content: center">
<div id="CreateSection" class="CreateSection">
    <div class="InputBox">
        <label for="name">Room Name:</label>
        <input id="name" name="Name" type="text" autofocus>
    </div>
    <br>
    <div class="InputBox">
        <label for="ID">Unique identifier:</label>
        <input id="ID" name="identifier" type="text">
        <button id="Create" onclick="CreateRoom()" style="margin-left: 3px">Create</button>
    </div>
    <p id="CreateState" class="TextResult">Fill the form</p>
    <div style="height: 70%;width: 100%">
        <p style="text-align: center">List of current rooms<br></p>
        <div id="CurrentRooms" class="CurrRooms"></div>
        <button onclick="ManageRoom('Add')" style="float: bottom">Add Room</button>
        <button onclick="ManageRoom('Remove')" style="float: right">Remove Room</button>
        <p id="addState" class="TextResult"></p>
    </div>
    <br>
</div>
<div class="ListOfRooms">
    <p style="text-align: center">Manage your rooms</p>
    <div id="IncRooms" class="CurrRooms"></div>
    <button onclick="ChatRoom()" style="float: right">Proceed</button>
</div>




<script>

    function logger() {
        let xhttp=new XMLHttpRequest()
        xhttp.open('POST','/SYNC')
        xhttp.onload=function () {
            if (this.responseText==='ERROR401') Terminate()
        }
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhttp.send('Username='+username)
        Refresh()
    }

    function Terminate() {
        clearInterval(HANDLE)
        document.cookie= 'Message=You need to login first!'
        window.location.replace('Starter')
    }

    let selected=''
    let username=''
    let HANDLE
    function getUser() {
        let name = 'Username' + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                username=c.substring(name.length, c.length)
                break;
            }
        }
        document.cookie= 'Username='
        HANDLE=setInterval(logger,1000)
    }

    function GetData() {
        if (username==='') getUser()
        let RawAnswer=''
        let xhttp= new XMLHttpRequest()
        xhttp.open('POSt','')
        xhttp.onload=function () {
            RawAnswer=this.responseText
            UpdateList(RawAnswer, 'CurrentRooms', false)
        }
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhttp.send('Purpose=RawData'+"&Username="+username)
    }

    function GetUserRooms() {
        let answer=''
        let xhttp = new XMLHttpRequest()
        xhttp.open("POST",'')
        xhttp.onload=function () {
            answer=this.responseText
            UpdateList(answer, 'IncRooms', true)
        }
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhttp.send("Purpose=UserData"+"&Username="+username)
    }

    function MergeList(listOf,List) {
        let node=document.getElementById(List)
        if (listOf.length===0) {
            while (node.lastChild) node.lastChild.remove()
            return
        }
        for (let x=0;x<node.children.length;x++) {
            let del=true
            for (let y=0;y<listOf.length;y++) {
                if (node.children[x].id===listOf[y]) {
                    del=false
                    break
                }
            }
            if (del) {
                node.children[x].remove()
                x--
            }
        }
    }

    function UpdateList(str, List, clear) {
        let listOf=[]
        if (str==='') {
            if (clear) MergeList(listOf,List)
            return
        }
        let data=str.split('&')
        for (let x=0;x<data.length;x+=2) {
            if (document.getElementById(data[x]+List)==null) createDIV(data[x],data[x+1],List)
            if (clear) listOf.push(data[x]+List)
        }
        if (clear) MergeList(listOf,List)
    }

    function Refresh() {
        GetData()
        GetUserRooms()
    }

    function createDIV(identifier, name, place) {
        let tmp=document.createElement('div')
        tmp.innerHTML=name
        tmp.title=identifier
        tmp.id=identifier+place
        tmp.className="Rooms"
        tmp.addEventListener("click", function () {
            Selector(document.getElementById(identifier+place))
        })
        document.getElementById(place).appendChild(tmp)
    }

    function handleHandler(target,invisible) {
        if (target.id==='addState') {
            clearTimeout(ADD_STATE_HANDLER)
            ADD_STATE_HANDLER=setTimeout(function () {
            target.innerHTML='&nbsp;'
            if (invisible) target.classList.add('TextInvisible')
        },2000)
        } else {
            clearTimeout(CREATE_STATE_HANDLE)
            CREATE_STATE_HANDLE=setTimeout(function () {
            target.innerHTML='&nbsp;'
            if (invisible) target.classList.add('TextInvisible')
        },2000)
        }

    }
    function Selector(x) {
        if (selected!=='') selected.classList.remove('RoomsSelected')
        selected=x
        if (selected!=='') selected.classList.add("RoomsSelected")

    }
    let ADD_STATE_HANDLER
    function ManageRoom(str) {
        let resultShow=document.getElementById('addState')
        if (selected==='') {
            resultShow.classList.remove('TextInvisible')
            resultShow.innerHTML='Select a Room first!'
            handleHandler(resultShow,true)
            return
        }
        let xhttp = new XMLHttpRequest()
        xhttp.open('POST','')
        xhttp.onload= function () {
            resultShow.classList.remove('TextInvisible')
            resultShow.innerHTML=this.response
            handleHandler(resultShow,true)
            GetUserRooms()
        }
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhttp.send("Purpose="+str+"&ID="+selected.title+"&Username="+username)
        Selector('')
    }

    let CREATE_STATE_HANDLE
    function CreateRoom() {
        let resultShow=document.getElementById('CreateState')
        let ID=document.getElementById('ID').value
        let name=document.getElementById('name').value
        if (ID==='' || name==='') {
            resultShow.classList.remove('TextInvisible')
            resultShow.innerHTML='Fields cant be empty!'
            handleHandler(resultShow,true)
            return
        }
        let xhttp = new XMLHttpRequest()
        xhttp.open('POST','')
        xhttp.onload=function () {
            resultShow.classList.remove('TextInvisible')
            resultShow.innerHTML=this.response
            handleHandler(resultShow,true)
            GetData()
        }
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhttp.send("Purpose=Create"+"&Identifier="+ID+"&Name="+name+"&Username="+username)
        document.getElementById('ID').focus()
    }

    function ChatRoom() {
        if (document.getElementById('IncRooms').innerHTML==='') {
            let resultShow=document.getElementById('addState')
            resultShow.classList.remove('TextInvisible')
            resultShow.innerHTML='You need to have at least one room!'
            handleHandler(resultShow,true)
            return
        }
        document.cookie='Username='+username
        window.location.replace('ChatRoom')
    }
</script>
</body>
</html>